# See https://help.github.com/articles/ignoring-files/ for more gitignore patterns

# dependencies
/node_modules
/.next/
/out/
/dist/

# testing
/coverage

# operating system files
.DS_STORE
Thumbs.db

# production
/build

# misc
.env.local
.env.development.local
.env.testing.local
.env.production.local
*.local

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.nproj*
*.sln
*.sw?

# next.config.js cache
/.next/cache

# typescript
*.tsbuildinfo

# Optional: If you aren't using a tool like PostCSS to process Tailwind
# or don't want to commit generated CSS files
/app/global.css # or wherever your global CSS file is


# yarn / pnpm
.yarn/
.pnp.*
.pnpm/
package-lock.json # if using npm
yarn.lock # if using yarn
pnpm-lock.yaml # if using pnpm

# next-auth
.nextauth.token.json
.nextauth.session.json
